<!-- < <div class="mainDiv">
	<div class="loginForm">
		<h3 class="mainLoginHeading">Login</h3>
		<div class="divider"></div>
		<input type="text" placeholder="Enter username" class="form-control userNameInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		<input type="password" placeholder="Enter password" class="form-control passwordInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		<button type="button" class="loginButton">Login</button>
	</div>
</div> --> 
<!-- <div class = "main">
	<div class = LoginForm>
	<h3 class = "MainLoginHeading"> Login </h3>
	<div class ="divider"></div> -->
	<!-- <input type="text placeholder=Enter your username">class ="form-control userNAmeInput"
	<input type="text placeholder=Enter your password"> -->
	<!-- <input type="text" placeholder="Enter username" class="form-control userNameInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		<input type="password" placeholder="Enter password" class="form-control passwordInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		<button type=""button class = "Loginbutton">Login</button>
	</div>
</div>	 > -->

	<div class="maindiv" >
		
		<div class = "subdiv">
			<h1>Welcome to Website</h1>
			<p>You may creat your account into the website for the better experience </p>
			<p>use three step process to create your very own account </p>
			<p>all you confidential information will be secured </p><br><br><br><br>
			<h3>---------Thankyou---------      </h3>
		</div>
		<div class = "divider"></div>
		<div class = "subdiv2">
			<h3 class="heading"> LOGIN </h3>
			<input type="text" placeholder="Enter username" class="form-control userNameInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			<input type="password" placeholder="Enter password" class="form-control passwordInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
			<button type="button" class="loginButton">Login</button>
			
		</div>
	</div>